@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Serif:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-warning:#d6ae0d;
    --bg-white:#fff;
    --bg-light-white:#f5f5f5;
    --primary-font:'Merriweather', serif;
    --text-white:#fff;
    --text-black:#121212;
    --text-warning:#d4af1ee0;
    --text-grey:rgb(113, 97, 97);
    --text-dark-grey:rgb(79, 77, 77);
}
body{
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    background: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;
}
a,
a:hover{
    text-decoration: none;
}
.btn-warning{
    background: var(--bg-warning);
    border-color: var(--bg-warning);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}
.btn-warning:hover{
    color: var(--text-warning);
    background: transparent;
}
/* navbar styling start  */
.background{
    background: rgba(0, 0, 0, 0.7) url(../images/bg2.jpg);
    background-size: cover;
    background-blend-mode: darken;

}
#header .fixed-top{
    box-shadow: 0 0.125rem 0.675rem rgba(0, 0, 0, 10%);
}
#header .navbar-nav .nav-link{
    color: var(--text-black);
    padding: 0.5rem 1rem;
    text-align: center;
}
/* .navbar-brand span{
    color: var(--text-warning);
} */
#header .navbar-nav .nav-link:hover,
#header .navbar-nav .nav-link:active{
    color: var(--text-warning);
}
#header .navbar-toggler:focus{
    box-shadow: 0 0.125rem 0.675rem rgba(0, 0, 0, 30%);
}
/* navbar styling end  */
/* home section style start  */
.home .home-banner-1,
.home .home-banner-2{
    background-position: 90% center;
    min-height: 600px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.home .home-banner-1{
    background-image: url('../images/slide.jpeg');
}
.home .home-banner-2{
    background-image: url('../images/female.jpg');
}
.home .home-banner .home-banner-text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-100%, -50%);
}
.home .home-banner .home-banner-text h1{
    font-size: 3.5rem;
}
.home .home-banner .home-banner-text .btn-1:hover{
    color: var(--text-white);
    background-color: var(--text-black) ;
    border-color: var(--bg-white);
}
    
/* home section style end  */
/* next section start  */
.offers{
    padding-top: 8rem;
    padding-bottom: 5rem;
    background: rgba(0, 0, 0, 0.7) url(../images/slider1.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.offers .offer-box .offer-image::before{
    position: absolute;
    content: '';
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    width: 100%;
    background:-webkit-linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 100%);
    transform: skewX(-25deg);
}
.offers .offer-box .offer-image img{
    transform: scale(1.05);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.offers .offer-box:hover .offer-image::before{
    animation: effect_shine 1.3s;
}
@keyframes effect_shine{
    100%{
        left: 140%;
    }
}
.offers .offer-overlay::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.offers .offer-box .offer-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: all 250ms ease-out;
    justify-content: center;
    align-items: center;
}
.offers .offer-box .offer-info .heading-bigger{
    font-size: 4rem;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 0;
    color: var(--bg-light-white);
}
.offers .offer-box .offer-info .offer-title-1{
    color: var(--text-white);
    font-size: 1.25rem;
    font-weight: 250;
    margin-bottom: 0;
    letter-spacing: 2px;
}
.offers .offer-box .offer-info .btn-outline-warning{
    color: var(--text-white);
    border-color: var(--bg-white);
    transition:all 0.3s ease-in-out;
}
.offers .offer-box .offer-info .btn-outline-warning:hover{
    border-color: var(--bg-warning);
}
/* next section end  */
/* our product section start  */
.products{
    padding-top:5rem;
}
.headline h2::before{
    content:'';
    width:30%;
    height:0.125rem;
    /* background-color: var(--bg-warning); */
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius: 0.625rem;
}
.products a{
    text-decoration: none;
    color:var(--text-black);
}
.product-list .product-image .sale{
    border-radius: 0.313rem;
    color:var(--text-white);
    font-size: 0.813rem;
    letter-spacing: 0.125rem;
    line-height: 1.563rem;
    padding:0.125rem 0.813rem;
    text-transform: uppercase;
    position:absolute;
    left:1rem;
    top:1.188rem;
    z-index: 99;
}
.product-list .product-name h3{
    font-size: 1.125rem;
    color:var(--text-black);
    transition:all 0.3s ease 0s;
}
.product-list .product-name h3:hover{
    color:rgb(50, 50, 185);
}
.product-list .product-name .amount{
    color:var(--text-warning);
    font-weight: 500;
}
.product-list .product-name .amount del{
    color:var(--text-grey);
}
.product-list .product-name .add_to_Card{
    background-color: var(--text-black);
    color: var(--bg-white);
    border:none;
    font-size: 1.2rem;
    font-weight: 500;
    transition:all 0.3s ease 0s;
    padding: 5px;
}
.product-list .product-name .add_to_Card:hover{
   background-color:var(--text-warning);
}
/* our product section end  */
/* offers section start  */
.special{
    padding:6rem 0;
    background: rgba(0, 0, 0, 0.7) url(../images/slider1.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.special .countdown-container{
    padding-top:4.375rem;
}
.special h2,
.special .countdown-container h2{
    color: var(--bg-white);
}
.special .countdown-container p{
    color:var(--text-white);
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.875rem;
}
.special .countdown-container .countdown-counter{
    display:block;
    width:100%;
    margin:0;
    padding:0;
    margin-bottom:1.875rem;
}
.special .countdown-container .countdown-counter li{
    display:inline-block;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    background:var(--bg-white);
    border-radius: 0.313rem;
    padding:2rem 1rem;
    width:15%;
    margin: 0 0.313rem;
}
.special .countdown-container .countdown-counter li span{
    font-weight: 500;
}
.special .countdown-container  .prices{
    color: var(--text-white);
}
.special .countdown-container .countdown-price del{
    color:var(--bg-warning);
    font-size: 1rem;
}
.special .special-img span{
    background:var(--bg-danger);
    border-radius: 0.313rem;
    color:var(--text-white);
    font-size: 0.813rem;
    letter-spacing:0.125rem;
    line-height:1.563rem;
    padding:0.125rem 0.813rem;
    text-transform: uppercase;
    position:absolute;
    left:1rem;
    top:1.188rem;
    z-index: 99;
}
/* offers section end  */
/* contact section start  */
.contact{
    padding:4rem 0;
    background-color:var(--bg-light-white);
    background: rgba(0, 0, 0, 0.7) url(../images/contact.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.contact .container h2,
.contact .container h4,
.contact .container .logo,
.contact .container label{
    color: var(--bg-white);
}
.contact .info li p a{
    font-size: 1rem;
    display:inline-block;
    margin:0.75rem 0;
    color:var(--text-white);
} 
.contact .form-group{
    margin-bottom:1.5rem;
}
.contact .form-control{
    height:3.75rem;
    padding:0.375rem 1.1875rem;
    border:none;
    font-size: 1rem;
    box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0 / 12%);
}
.contact .textarea{
    width:100%;
    border-radius: 0.25rem;
    padding:0.75rem 1.1875rem;
    border:none;
    font-size: 1rem;
    margin-top:0.3125rem;
    box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0 / 12%);;
}
.contact .textarea:focus{
    outline:none;
    border:none;
}
/* contact section end  */

footer{
    padding: 10px 0px;
    background-color: var(--text-black);
    color: var(--text-white);
}

